:host {
  display: block;
  height: 100dvh;
  width: 100dvw;
}

.header {
  margin-bottom: 32px;
  padding-inline: 15px;
}

.figure {
  border-bottom: 2px solid #D9D9D9;
  display: flex;
  justify-content: center;
  padding-block: 16px;
}

.title {
  color: #07B0FB;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
}

.exchange-button {
  height: 48px;
  text-transform: uppercase;
  width: 100%;
}

.footer {
  background-color: #07B0FB;
  color: white;
  padding-block: 7px;
  text-align: center;
}