.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__button {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  width: 100%;
}

.page__content {
  flex: 1;
  margin-bottom: 2.5rem;
  margin-inline: auto;
  max-width: 1000px;
  padding-inline: 1rem;
  width: 100%;
}

.page__error {
  background-color: #FFEBEE;
  border: 1px solid #F44336;
  border-radius: 4px;
  color: #C62828;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

.page__field {
  margin-bottom: 2rem;
  width: 100%;
}

.page__footer {
  background-color: var(--color-primary);
  color: white;
  padding-block: 0.4375rem;
  text-align: center;
}

.page__header {
  margin-bottom: 2rem;
  padding-inline: 0.9375rem;
}

.page__logo {
  height: auto;
  width: 10rem;
}

.page__logo-wrapper {
  border-bottom: 0.125rem solid #D9D9D9;
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}

.page__title {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .page__footer {
    padding-block: 0.75rem;
  }

  .page__logo {
    width: 14rem;
  }

  .page__title {
    font-size: 2.25rem;
  }
}