<section class="page">
  <header class="page__header">
    <figure class="page__logo-wrapper">
      <img
        alt="Action Labs Logo"
        class="page__logo"
        src="assets/action-labs-branding.svg"
      />
    </figure>

    <h1 class="page__title">BRL Exchange Rate</h1>
  </header>

  <main class="page__content">
    <mat-form-field class="page__field">
      <mat-label>Enter the currency code</mat-label>
      <mat-select [formControl]="currencyControl">
        @for (currency of currencies; track currency) {
          <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
      <mat-error>Currency is required</mat-error>
    </mat-form-field>

    <button
      (click)="onExchange()"
      [disabled]="isLoading"
      class="page__button"
      mat-flat-button
      type="button"
    >
      @if (isLoading) {
        Loading...
      } @else {
        Exchange Result
      }
    </button>

    @if (hasError) {
      <div class="page__error">
        Ocorreu um erro na requisição. Por favor, tente novamente mais tarde.
      </div>
    }

    @if (showResult) {
      <app-exchange-result
        [currency]="currencyControl.value!"
        [exchangeRate]="exchangeRate"
        [lastUpdatedAt]="lastUpdatedAt"
      />
      <app-exchange-history-accordion [historyItems]="historyItems" />
    }
  </main>

  <footer class="page__footer">
    <p>Copyright 2022 - Action Labs</p>
  </footer>
</section>
