:host,
.accordion {
  display: block;
}

.accordion {
  border-bottom: 0.125rem solid var(--color-primary)
}

.accordion__body {
  background-color: #F4F4F4;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 0.625rem 0.625rem 1.25rem;
}

.accordion__header {
  padding: 8px 0;
}

.accordion__icon {
  color: var(--color-primary);
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.accordion__title {
  color: #262626;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mat-expansion-panel {
  background-color: inherit;
  border-radius: 0 !important;
  box-shadow: none !important;
}

@media (min-width: 600px) {
  .accordion__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .accordion__body {
    grid-template-columns: repeat(3, 1fr);
  }
}