.card {
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 0px 2px 8px 0px #0000001A
}

.card__date {
  color: #07B0FB;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.card__grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__row {
  display: flex;
  gap: 16px;
}

.card__field {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 4px;
}

.card__label {
  color: #3F3F3F;
  font-size: 11px;
  text-transform: uppercase;
}

.card__value {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
}

.card__diff {
  font-size: 16px;
  font-weight: 600;
}

.card__diff--positive {
  color: #69C669;
}

.card__diff--negative {
  color: #E54E4E;
}

.card__icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.card__icon--positive {
  color: #69C669;
}

.card__icon--negative {
  color: #E54E4E;
}
