<article class="card">
  <p class="card__date">{{ item.date }}</p>

  <div class="card__grid">
    <div class="card__row">
      <div class="card__field">
        <span class="card__label">Open:</span>
        <span class="card__value">{{ formatCurrency(item.open) }}</span>
      </div>
      <div class="card__field">
        <span class="card__label">Hight:</span>
        <span class="card__value">{{ formatCurrency(item.high) }}</span>
      </div>
    </div>

    <div class="card__row">
      <div class="card__field">
        <span class="card__label">Close:</span>
        <span class="card__value">{{ formatCurrency(item.close) }}</span>
      </div>
      <div class="card__field">
        <span class="card__label">Low:</span>
        <span class="card__value">{{ formatCurrency(item.low) }}</span>
      </div>
    </div>

    <div class="card__row">
      <div class="card__field">
        <span class="card__label">Close Diff (%):</span>
        <span class="card__diff" [class.card__diff--positive]="isPositive" [class.card__diff--negative]="!isPositive">
          {{ formatPercent(item.closeDiffPercent!) }}
        </span>
        <mat-icon 
          class="card__icon" 
          [class.card__icon--positive]="isPositive" 
          [class.card__icon--negative]="!isPositive"
          [fontIcon]="isPositive ? 'keyboard_arrow_up' : 'keyboard_arrow_down'">
        </mat-icon>
      </div>
    </div>
  </div>
</article>
