.card {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.5rem 0 #0000001A;
  padding: 1rem;
}

.card__date {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 0.75rem 0;
}

.card__diff {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.375rem;
}

.card__diff--positive {
  color: #69C669;
}

.card__diff--negative {
  color: #E54E4E;
}

.card__field {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.25rem;
}

.card__grid {
  display: flex;
  flex-direction: column;
}

.card__icon {
  font-size: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.card__icon--positive {
  color: #69C669;
}

.card__icon--negative {
  color: #E54E4E;
}

.card__label {
  color: #3F3F3F;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

.card__row {
  display: flex;
  gap: 1rem;
}

.card__value {
  color: #3F3F3F;
  font-size: 1rem;
  font-weight: 600;
}