:host {
  display: block;
  margin-bottom: 2rem;
}

.result {
  border-top: 0.0625rem solid #E5E5E5;
  padding-top: 1.5rem;
}

.result__amount {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.result__currency {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.result__datetime {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.result__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}

.result__info {
  display: flex;
  flex-direction: column;
}

.result__title {
  color: #262626;
  font-size: 1.125rem;
  font-weight: 600;
}

.result__value {
  background-color: #E7F8FF;
  padding-block: 1rem;
  text-align: center;
}